html {
  scroll-behavior: smooth;
  height: 100%;
}

body,
html,
* {
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
